@use './abstracts' as *;

.menu {
    background-color: $white-fixed;
    min-height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    margin: 0 auto;

    h2 {
        display: flex;
        color: $grey-0;
        font-size: $font-title-3;
        margin-top: 40px;

        @media(max-width: 800px){
            margin-top: 25px;
            font-size: $font-title-5;
        }
        @media(max-width: 420px){
            margin-top: 25px;
            font-size: $font-title-6;
            text-align: center;
        }    
    }
}