@use './abstracts' as *;

.rodape {
    background-color: $primary-blue-0;
    height: fit-content;
    width: 100vw;
    padding: 20px 0px;

    .list {
        width: 85vw;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        .link-github {
            color: $white-fixed;
            font-size: $font-size-1;
            font-weight: 600;
            border-radius: 4px;
            border: 2px solid $grey-0;
            padding: 5px;
            width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            transition: 0.2s ease;

            &:hover{
                background-color: $grey-0;
            }
        }
    }

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: $white-fixed;
        font-size: $font-size-1;
        font-weight: 600;
        margin-top: 20px;
    }
}