$primary-blue-0: #0CB7F2;     
$primary-blue-1: #53D4FF;  
$primary-blue-2: #8FE3FF;  
$primary-blue-3: #BCEEFF;
$primary-blue-3: #BCEEFF;
$primary-blue-4: #DEF7FF;

$second-blue-0: #0aa1d3;

$grey-0: #0B0D0D;
$grey-1: #212529;
$grey-2: #495057;
$grey-3: #868E96;
$grey-4: #ADB5BD;
$grey-5: #CED4DA;
$grey-6: #DEE2E6;
$grey-7: #E9ECEF;
$grey-8: #F1F3F5;
$grey-9: #F8F9FA;
$white-fixed: #FFFFFF;

$alert-1: #CD2B31;
$alert-2: #FDD8D8;
$alert-3: #FFE5E5;
$sucess-1: #18794E;
$sucess-2: #CCEBD7;
$sucess-3: #DDF3E4;

$font-size-1: 18px;
$font-size-2: 16px;
$font-size-3: 14px;
$font-size-4: 12px;
$font-size-5: 14px;
$font-size-6: 12px;

$font-title-1: 44px;
$font-title-2: 36px;
$font-title-3: 32px;
$font-title-4: 28px;
$font-title-5: 24px;
$font-title-6: 20px;

$button-big-text: 16px;
$button-medium-text: 14px;

$input-placeholder: 16px;
$input-label: 18px;